<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore API</title>
</head>
<body>
    {% if session %}
    <h3>Welcome {{session.userinfo.name}}!</h3>
    <p><a href="{% url 'logout' %}">Logout</a></p>
        Your photo: <br>
        <img src="{{ session.userinfo.picture }}" alt="img"> <br><br>
        <a href="{% url 'token' %}">Your TOKEN here</a> <br>
    {% else %}
    <h3>Welcome Guest</h3>
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
  </body>
</html>